.box{
    width: 200px;
    height: 200px;
    background-color: cornflowerblue;
    border: 3px solid yellow;
  
}

.left{
    margin-left: 25px;
}

.right{
    margin-left: 400px;
}

h1{
    padding: 20px;
    color: white;
}