#div1{
    position: relative;
    width: 200px;
    height: 200px;
    border: 1px solid black;
    margin: 100px;
    padding: 10px;
    
}

#div2{
    position: absolute;
    padding: 50px;
    border: 1px solid black;
    background-color: red;
    /* transform: translate(100px,200px);   */
    transform: rotate(20deg); 
    /* transform: scale(-1); varesisht prej vleres se dhene ndryshon madhesia e elementit */

    /* transform: scaleX(2); */
    /* transform: scaleY(2); */
    /* transform: scale(2,3); */
    /* transform: skewY(20deg); */
    /* transform: skew(50deg,50deg); */
    /* transform-origin: 40%; */
 
    
}