img{
    /* clip-path: circle(50%); */
    /* background-color: aqua;
    clip-path: inset(20px 20px 50px round 15px) ; */
    /* clip-path: polygon(5% 5%, 95% 5%, 95% 95%, 5% 95%); */
    clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
}