div{
    position: relative;
    width: 80px;
    height: 50px;
    background-color: brown;
    animation-name: example;
    animation-duration: 5s;
    animation-delay: 2s;
    /* animation-iteration-count: 3; */
    animation-iteration-count: infinite;
    
}

 #div1{
    animation-timing-function: ease;
}

#div2{
    animation-timing-function: linear;
}

#div3{
    animation-timing-function: ease-in;
}

#div4{
    animation-timing-function: ease-out;
}

#div5{
    animation-timing-function: ease-in-out;
} 

@keyframes example {

    /* from{background-color: brown;}
    to{background-color: blueviolet;} */

    /* 0% {background-color: red; left: 0px; top: 0px;}
    25% {background-color: yellow; left: 200px; top: 0px;}
    50%{background-color: blue; left: 200px; top: 200px;}
    75%{background-color: green; left: 0; top: 200px;}
    100%{background-color: red; left: 0; top: 0;} */


    from {left: 0px;}
    to{left: 100px}

  

}

