.description { 
    height: 80px;
    width: 240px;
    background-color: cornflowerblue;
    border: 2px solid black;
    padding: 20px;
    margin: 50px;

}
/* 
.full-border{
    border: 1px solid black;
}

.bottom-border{
    border-bottom: 1px solid brown;
}

.radius-border { 
    border: 1px solid purple;
    border-radius: 12px;
}

.left-border {
    border-left: 3px solid  darkgreen;
    background: lightgreen;
} */




