.container{
    display: flex;
   

}

.box{
    width: 100px;
    height: 60px;
}


.box1{
    background-color: red;
    align-items: stretch;
    
}

.box2{
    background-color: yellow;
}
.box3{
    background-color: blue;
    order: -1;
  
   
}

.box4 {
    background-color: purple;
}

.box5{
    background-color: saddlebrown;
}

.box6{
    background-color: green;
}