/* img {
    opacity: 1;
    
}

img:hover{
    opacity: 0.2;
} */


.dropbtn{
    background-color: #34495e;
    color: white;
    padding: 16px;
    font-size: 16px;
    cursor: pointer;
    margin: 0;
    border: none;
}

.dropdown {
    position:relative;
    display: inline-block;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0, 0.2);
    z-index: 1;

}

.dropdown-content a{
    color: rgb(22, 19, 19);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content{
    display: block;
}