/* a:link{
    color: #FF0000;
}


a:visited{
    color: #00ff00;
}

a:hover{
    color: #ff00ff;
} */

/* selective link */
/* a:active{
    color: #0000ff;
} */


p::first-line{
    color: blue;
}

/* .description::before{
    content: 'before';
    color: orange;
}

.description::after{
    content: 'after';
    color: brown;
} */

.description::before{
    content: '';
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: red;
}

.description::after{
    content: '';
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: red;
}