/* img {
    max-width: 100%;
    width: 40px;
    height: 100px;
    
}

@media only screen and (max-width:600px) {
    body {
        background-color: brown;
    }
}


@media only screen and (min-width:800px) {
    h1{
        color: green;
    
    }
} */



.container {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: space-around;
}

.left {
    width: 60%;
}


.right {
    width: 35%;
    background-color: lightblue;
    padding: 0 20px;
    
}

@media only screen and(max-width: 768px) {
    .container{
        width: 100vw;
        flex-direction: column;   
    }

    .left{
        width: 100vw;
    }

    .right{
        width: 90vw;
    }


}