
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(
        rgb(166, 238, 117) 0%,
        rgb(161, 226, 124) 100%
    ),
    url(https://19mvmv3yn2qc2bdb912o1t2n-wpengine.netdna-ssl.com/science/files/2018/10/tnc_21608768_preview_cropped-1260x708.jpg);
    
    background-size: cover;

    clip-path: polygon(0 0, 100% 0, 100% 77%, 0 93%);
    color: white;
    font-family: sans-serif;

}

.inner{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

h1{
    font-size: 50px;
    letter-spacing: 30px;
    margin: 0;
}

p{
    
    letter-spacing: 10px;
    margin-bottom: 50px;
}

a:link{
    text-decoration: none;
    background-color: white;
    display: block;
    border-radius: 30px;
    padding: 20px 30px;
    color: black;
}

a:visited{
    color: black;
}