/* body {
    background-color: #673AB7
}

h1 {
    font-size: 40px;
    color: #ffeb3b
}

h2 {
    font-size: 25px;
    color: #ffc107
}

p {
    font-size: 18px;
    color: #cddc39;
}

p, h1, h2 {
    text-align: center;
}

em{
    color: #ff5722;
} */
/* 
p{
    color: rgb(75, 50, 8 );
}

p{
    color: orange;
} */


/* p{
    /* letter-spacing: 15px; */
    /* text-indent: 30px; */
    /* text-decoration: line-through;
    text-decoration-color: red; */
    /* text-transform: capitalize; */
    /* line-height: 30px; */
   
    /* font-size: 100px;
    font-family: 'Irish Grover', cursive;
    font-weight: 100; */

/* } */
/* h1{
    font-family: 'Roboto', sans-serif;
}

h3{
    line-height: 30px;
} */

/* h4 {
    align-items: right;
} */


div{
    background-color: paleturquoise;
    color: #fff;
    width: 800px;
    height: 800px;
}