body{
    background-color: lightgrey;

}

.card1{
    width: 344px;
    height: 672px;
    background-color: white;
    border-radius: 16px;
}

.text1{
    position: absolute;
    font-size: 40px;
    font-weight: 600;
    top: -1px;
    left: 30px;
    

}
span{
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;

}

.img1{
    position: absolute;
    top: 100px;
    left: 30px;
}

.text2{
    position: absolute;
    top: 200px;
    left: 30px;
    color: #F3B10E;
    font-size: 28px;
    font-family: 'Open Sans', sans-serif;
}

.text3{
    position: absolute;
    top: 280px;
    left: 30px;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif; 
    width: 254px;
    height: 75px;

}

.img2{
    position: relative;
    width: 18px;
    height: 14.59px;
    top: 350px;
    left: 30px;
}

.text4{
    position: absolute;
    top: 346px;
    left: 68px;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif; 
    width: 254px;
    height: 75px;
}

.img3{
    position: relative;
    width: 18px;
    height: 14.59px;
    top: 380px;
    left: 10px;
}



